#homepageh1 {
    font-size: 56px;
    text-align: center;
}
#homepagep1 {
    font-size: 36px;
    text-align: center;
}

#jahuames {
    font-size: 30px;
    text-align: center;
}

#aboutmeh1 {
    font-size: 56px;
    text-align: center;
}

#tingjeggjør {
    font-size: 36px;
    text-align: left;
}

#orderedlist {
    font-size: 30px;
    text-align: left;
}